
// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000
// 0000000    000   000  000   000    00000
// 000   000  000   000  000   000     000
// 0000000     0000000   0000000       000

body
    background          #111
    padding             0
    margin              0
    overflow            hidden
    -webkit-user-select none
    -webkit-app-region  no-drag

*
    outline-width       0
    outline-style       none

fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0

body
#kali
#selection
#resizer
#stage
#edit
#grid
    fill-abs()

#selection
#resizer
#edit
#grid
    pointer-events          none

//  0000000  000   000   0000000
// 000       000   000  000
// 0000000    000 000   000  0000
//      000     000     000   000
// 0000000       0       0000000

.resizerSVG
.stageSVG
    stroke-linecap          round
    stroke-linejoin         round

button
    border                  none

//  0000000   0000000   000       0000000   00000000    0000000
// 000       000   000  000      000   000  000   000  000
// 000       000   000  000      000   000  0000000    0000000
// 000       000   000  000      000   000  000   000       000
//  0000000   0000000   0000000   0000000   000   000  0000000

button
.tool
.item
.winTitle
.fontList
    background              #222

button
.tool
.item
.winTitleClose
.winTitleButton
    font-family             Helvetica, Arial
    font-weight             bold
    color                   #bbb
    &.active
        color               #fff
    &:hover
        color               #ff0
        background          #333

.fontElem
    color                   #bbb
    &.active
        color               #ff0
        background          #333

// 000   000  000  000   000  000000000  000  000000000  000      00000000
// 000 0 000  000  0000  000     000     000     000     000      000
// 000000000  000  000 0 000     000     000     000     000      0000000
// 000   000  000  000  0000     000     000     000     000      000
// 00     00  000  000   000     000     000     000     0000000  00000000

.winTitle
    border-top-left-radius  6px
    border-top-right-radius 6px
    border-bottom           1px solid #333

.winTitleText
.winTitleButton
.winTitleClose
    color                   #333
    &:hover
        background          #222
    &.active
        color               #bbb
        background          #333

.winTitle
    height                  30px
    overflow                hidden
    cursor                  -webkit-grab

.winTitleText
    font-weight             bold
    margin-top              8px
    margin-left             10px
    pointer-events          none

.winTitleClose
.winTitleButton
    cursor                  pointer
    padding-top             8px
    padding-bottom          7px

// 000000000  00000000  000   000  000000000  00000000  0000000    000  000000000
//    000     000        000 000      000     000       000   000  000     000
//    000     0000000     00000       000     0000000   000   000  000     000
//    000     000        000 000      000     000       000   000  000     000
//    000     00000000  000   000     000     00000000  0000000    000     000

.textEdit
    pointer-events          none
    transform-origin        top left
    position                absolute
    overflow                visible

.textEditInput
    transform-origin        top left
    pointer-events          auto
    background              transparent
    border                  none
    &::selection
        background          rgba(128,128,128,0.2)

// 00000000   0000000   000   000  000000000  000      000   0000000  000000000
// 000       000   000  0000  000     000     000      000  000          000
// 000000    000   000  000 0 000     000     000      000  0000000      000
// 000       000   000  000  0000     000     000      000       000     000
// 000        0000000   000   000     000     0000000  000  0000000      000

.fontList
    position                absolute
    padding-bottom 6px
    border-radius 6px

.fontListScroll
    overflow-y              scroll
    max-height              400px

.fontElem
    min-height                  30px
    font-size               20px
    padding-left            10px
    padding-right           10px
    padding-top             4px
    cursor                  pointer

//  0000000  00000000  000      00000000   0000000  000000000  000   0000000   000   000
// 000       000       000      000       000          000     000  000   000  0000  000
// 0000000   0000000   000      0000000   000          000     000  000   000  000 0 000
//      000  000       000      000       000          000     000  000   000  000  0000
// 0000000   00000000  0000000  00000000   0000000     000     000   0000000   000   000

.selectangle
    pointer-events          none
    position                absolute
    box-sizing              border-box
    border                  1px dotted #888
    padding                 0
    overflow                hidden
    opacity                 0.25

.selectionRect
.editRect
    background              #888


// 00000000  0000000    000  000000000
// 000       000   000  000     000
// 0000000   000   000  000     000
// 000       000   000  000     000
// 00000000  0000000    000     000

.editDot
    pointer-events          all

#edit.passive .editDot
    pointer-events          none

.pointDot
    stroke                  #fff
    fill                    #000

    &.selected
        stroke              #ff0
        fill                #f00

.ctrl1Dot
.ctrl2Dot
.ctrlsDot
.ctrlqDot
    stroke                  #000
    fill                    #fff

    &.selected
        stroke              #f00
        fill                #ff0

.ctrlrDot
    stroke                  #000
    fill                    #888

    &.selected
        stroke              #800
        fill                #f80

.editLine
    stroke                  #000
    stroke-dasharray        2,6
.ctrlrLine
.ctrlq2Line
    stroke-dasharray        1,4

.ctrl1_Line
.ctrl2_Line
.ctrls_Line
.ctrlq_Line
    stroke                  #fff
    stroke-dashoffset       2
    stroke-dasharray        2,6

.ctrlr_Line
.ctrlq2_Line
    stroke                  #fff
    stroke-dashoffset       1
    stroke-dasharray        1,4

// 00000000   00000000   0000000  000  0000000  00000000  00000000
// 000   000  000       000       000     000   000       000   000
// 0000000    0000000   0000000   000    000    0000000   0000000
// 000   000  000            000  000   000     000       000   000
// 000   000  00000000  0000000   000  0000000  00000000  000   000

.resizerSVG
    opacity                 1
    &.resizerInactive
        opacity             0.3

.resizerGroup
    cursor                  -webkit-grab

.resizerRect
    fill                    rgba(128,128,128,0.1)
    cursor                  move
    stroke                  none

.resizerBorder
    fill                    none
    stroke                  none
    pointer-events          all

.resizerCorner
    fill                    #fff
    stroke                  #000
    pointer-events          all

.resizerRot
    fill                    #fff
    stroke                  #000
    pointer-events          all

.resizerItemRect
    fill                    none
    stroke                  #000
    stroke-dasharray        2,2

// 000000000   0000000    0000000   000
//    000     000   000  000   000  000
//    000     000   000  000   000  000
//    000     000   000  000   000  000
//    000      0000000    0000000   0000000

button
.tool
.item
.winTitle
    font-size               13px

.tool
    position                absolute
    width                   60px
    height                  60px
    cursor                  pointer
    &.down
        height              30px

.tool .title
    margin-top              4px
    text-align              center
    padding-top             4px
    padding-bottom          4px

.toolPlus
.toolMinus
    padding-left            8px
    padding-right           8px
    color                   #888
    &:hover
        color               #ff0

.toolPlusMinus
    padding                 6px

.toolSVG
    position                absolute
    left                    25%
    top                     25%
    width                   50%
    height                  50%
    opacity                 0.6

.active .toolSVG
    left                    10%
    top                     10%
    width                   80%
    height                  80%
    opacity                 1

// 000       0000000   000   000  00000000   00000000
// 000      000   000  000   000  000   000  000
// 000      000   000  000   000  00000000   0000000
// 000      000   000  000   000  000        000
// 0000000   0000000    0000000   000        00000000

.loupeRect
    background              transparent
    opacity                 0.5

.trans
    pointer-events          none

// 00     00  00000000  000   000  000   000
// 000   000  000       0000  000  000   000
// 000000000  0000000   000 0 000  000   000
// 000 0 000  000       000  0000  000   000
// 000   000  00000000  000   000   0000000

#menus
    -webkit-app-region      drag
    font-family             Helvetica, Arial
    font-weight             bold
    font-size               13px
    position                absolute
    left                    60px
    top                     0

.menu
    float                   left
    height                  30px
    overflow                hidden

.item
    display                 block
    height                  22px
    padding-top             8px
    padding-left            10px
    padding-right           10px
    cursor                  pointer
    border-style            hidden
