
//  0000000  000   000   0000000   
// 000       000   000  000        
// 0000000    000 000   000  0000  
//      000     000     000   000  
// 0000000       0       0000000   

#selection
#resizer
#stage
#edit
#grid
    position                absolute
    left                    0
    right                   0
    top                     0
    bottom                  0

#selection
#resizer
#edit
#grid
    pointer-events          none

.resizerSVG
.stageSVG
    stroke-linecap          round
    stroke-linejoin         round

//  0000000  00000000  000      00000000   0000000  000000000  000   0000000   000   000  
// 000       000       000      000       000          000     000  000   000  0000  000  
// 0000000   0000000   000      0000000   000          000     000  000   000  000 0 000  
//      000  000       000      000       000          000     000  000   000  000  0000  
// 0000000   00000000  0000000  00000000   0000000     000     000   0000000   000   000  

.selectangle
    pointer-events          none
    position                absolute
    box-sizing              border-box
    border                  1px dotted #888
    padding                 0
    overflow                hidden
    opacity                 0.25

.selectionRect
.editRect
    background-color        #888
    
    
// 00000000  0000000    000  000000000    
// 000       000   000  000     000       
// 0000000   000   000  000     000       
// 000       000   000  000     000       
// 00000000  0000000    000     000       

.editDot
    pointer-events all
    
#edit.passive .editDot
    pointer-events none
        
.pointDot
    stroke  #fff
    fill    #000

.ctrl1Dot
.ctrl2Dot
    stroke  #000
    fill    #fff

.ctrlrDot
.ctrlqDot
    stroke  #000
    fill    #888
    
.editLine
    stroke  #000
    stroke-dasharray 2,6
.ctrlrLine
.ctrlqLine
.ctrlq2Line
    stroke-dasharray 1,4
    
.ctrl1_Line
.ctrl2_Line
    stroke  #fff
    stroke-dashoffset 2
    stroke-dasharray  2,6
    
.ctrlr_Line
.ctrlq_Line
.ctrlq2_Line
    stroke  #fff
    stroke-dashoffset 1
    stroke-dasharray  1,4

// 00000000   00000000   0000000  000  0000000  00000000  00000000   
// 000   000  000       000       000     000   000       000   000  
// 0000000    0000000   0000000   000    000    0000000   0000000    
// 000   000  000            000  000   000     000       000   000  
// 000   000  00000000  0000000   000  0000000  00000000  000   000  

.resizerSVG
    opacity                 1
    &.resizerInactive
        opacity             0.3
    
.resizerGroup
    cursor                  -webkit-grab
        
.resizerRect
    fill                    rgba(0,0,0,0.1)
    cursor                  move
    stroke                  none

.resizerBorder
    fill                    #88f
    fill-opacity            0.3
    stroke                  none
    pointer-events          all
    
.resizerCorner
    fill                    #88f
    pointer-events          all

.resizerRot
    fill                    #88f
    fill-opacity            0.3
    cursor:                 url(file:///Users/kodi/s/kaligraf/svg/rot.svg) 18 12, auto;
    pointer-events          all
    
.resizerItemRect
    fill                    none
    stroke                  #44f
    stroke-dasharray        2,2
    
// 000000000   0000000    0000000   000      
//    000     000   000  000   000  000      
//    000     000   000  000   000  000      
//    000     000   000  000   000  000      
//    000      0000000    0000000   0000000  

.tool    
    font-family             Helvetica, Arial
    font-weight             bold
    font-size               13px
    position                absolute
    width                   60px
    height                  60px    
    color                   #bbb
    background              #222
    cursor                  pointer
    &.active
        color               #fff
    &:hover
        color               #ff0
    &.down
            height          30px
            
.tool .title
    margin-top              4px
    text-align              center
    padding-top             4px
    padding-bottom          4px
        
.toolPlus
.toolMinus
    padding-left            8px
    padding-right           8px
    color                   #888
    &:hover
        color               #ff0
    
.toolPlusMinus
    padding                 6px
        
.toolSVG
    position                absolute
    left                    25%
    top                     25%
    width                   50%
    height                  50%
    opacity                 0.6

.active .toolSVG
    left                    10%
    top                     10%
    width                   80%
    height                  80%
    opacity                 1
        
// 000       0000000   000   000  00000000   00000000  
// 000      000   000  000   000  000   000  000       
// 000      000   000  000   000  00000000   0000000   
// 000      000   000  000   000  000        000       
// 0000000   0000000    0000000   000        00000000  

.loupeRect
    background-color        transparent
    opacity                 0.5
    
.trans
    pointer-events          none

// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   

#menus  
    font-family             Helvetica, Arial
    font-weight             bold
    font-size               13px
    position                absolute
    left                    60px  
    top                     0
    color                   #bbb
    
.menu
    float                   left
    height                  30px
    overflow                hidden
    
.item
    display  block
    height   22px
    padding-top             8px
    padding-left            10px
    padding-right           10px
    background-color        #222
    cursor                  pointer
    border-style            hidden
                
    &:hover
        color               #ff0
        background-color    #333
        